.users_table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 59.23px;
}

.users_table th {
  background: #F9FAFA;
}

.users_table td,
.users_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* item css */
.users_table td {
  text-align: center;
  padding: 10px 8px;
}

.table_checkbox {
  width: 15px;
  height: 15px;
}
