.users_table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 59.23px;
}

.users_table th {
  background: #F9FAFA;
}

.table_actions_header {
  text-align: left !important;
  padding-inline: 59.94px !important;
}

.users_table td,
.users_table th {
  border: 1px solid #ddd;
  padding: 14px 17.94px; 
  text-align: center;
  white-space: nowrap;
}
