.table_checkbox {
  width: 15px;
  height: 15px;
}

.table_img_data {
  display: flex;
  justify-content:center;
  align-items:center;
}

.table_img_bg {
  width: 54.62px;
  height: 35.12px;
  padding: 10.81px 19.04px;
  margin: 0;
  background: #F9FAFA;
  border-radius: 2px;
}

.table_user_avatar {
  height: 100%;
  width: 100%;
}

.table_actions_bg {
  white-space: normal;
  width: 100%;
  padding: 0 !important;
}

.table_actions {
  display: flex;
  gap: 25px;
  height: 100%;
  width: 100%;
  padding-inline: 43px !important;
}

.table_delete_action {
  color: #ff5555;
}

.table_edit_action {
  color: #2f80ed;
}

.table_eye_action {
  color: #6F6F6F;
}

.table_edit_action,
.table_delete_action,
.table_eye_action {
  font-size: 16.7px;
}
