body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, a, input, textarea {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button:hover {
  background: green !important;
  color: white !important;
  transition: all 0.5s;
}
